@import "setting";

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;

  .bar {
    background-color: $color-violet;
    flex: 1 1 100%;
    display: none;

    .content {
      justify-content: space-between;;
      padding: 10px;
      margin: 0 auto;
      max-width: 1177px;
      display: flex;
    }


    a {
      color: white;
      font-size: 16px;
      text-decoration: none;

    }

    .info {
      display: flex;
      align-items: center;
      gap: 50px;
    }

    .setting {
      display: flex;
      align-items: center;
      gap: 15px;

      select {
        background: $color-violet;
        color: white;
        border: none;
      }

      a {
        display: block;
      }

    }
  }

  .menu {
    flex: 1 1 100%;
    display: flex;
    justify-content: end;
    background-color: white;
    align-items: center;
    position: relative;

    & > a {
      margin-right: auto;
      font-weight: bold;
      text-decoration: none;
      color: black;
      font-size: 30px;
      line-height: 40px;
    }

    form {
      position: relative;
      height: 40px;


      input {
        position: absolute;
        display: none;
        border: 1px solid #E7E6EF;
        width: 94vw;
        padding: 0 25px;

        right: 45px;
        height: 40px;

        &:focus-visible {
          outline: rgba(251, 46, 134, 0.20) solid 0.1px;
        }
      }

      button {
        background-color: $color-rose;
        border: none;
        height: 40px;
        width: 50px;
        background-image: url("/assets/img/uil_search.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;

        &:active {
          background-size: 70%;
        }

        &.close {
          background-image: url("/assets/img/icon-close.svg");
          background-size: 50%;

          color: white;
        }

        &.submit {
          background-image: url("/assets/img/icon-check.svg");
          background-size: 100%;

        }
      }
    }

    .btn-menu {
      display: block;
      height: 30px;
      width: 30px;
      margin: 0 10px;
      background: url("../img/burger.svg") no-repeat;

      &.actived {
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 1000;
        width: 40px;
        height: 40px;
        background-image: url(../img/icon-close.svg);
        background-color: $color-rose;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
      }

    }

    nav {
      display: none;

      a {
        text-decoration: none;
        color: black;

        &.active {
          color: $color-rose;
        }

        &:hover {
          color: $color-rose;
        }
      }

      &.active {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        align-items: start;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        padding: 60px 0;

        & > a {
          font-size: 1.5rem;
          padding-left: 30px;
        }

        .bar-nav {
          position: absolute;
          right: 10px;
          top: 60px;
          display: flex;
          flex-direction: column;
          gap: 15px;

          & a {
            width: 40px;
            height: 40px;
            background-color: $color-rose;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 50%;

            }

          }

        }

        .setting-nav {
          position: absolute;
          top: 10px;
          left: 28px;
          display: flex;
          gap: 20px;

          select {
            background: #ffffff;
            color: black;
            border: none;
            height: 40px;
            width: 75px;
          }

        }
      }
    }


  }

  //desktop
  @media screen and (min-width: 800px) {
    display: flex;
    .bar {
      display: block;
    }

    .menu {
      padding: 15px 0;
      max-width: 1177px;
      margin: 0 auto;
      justify-content: space-between;

      .btn-menu {
        display: none;
      }

      nav {
        display: flex;
        margin: 0 auto;
        gap: 20px;

        .setting-nav, .bar-nav {
          display: none;
        }
      }

      form {
        display: flex;


        input {
          position: relative;
          display: block;
          width: 300px;
          right: 0;
        }
      }
    }
  }
}


.article-c-stl-1 {
  padding: 30px;
  position: relative;
  text-align: center;
  width: max-content;
  margin: 0 auto;

  picture {
    display: block;
    height: max-content;
    width: max-content;
    margin: 0 auto;
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-rose;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      opacity: 0.05;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-rose;
      display: block;
      position: absolute;
      top: 55%;
      left: 40%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      opacity: 0.04;

    }

    img {
      width: 228px;
      z-index: 2;
      position: relative;
    }

  }

  .price {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #00C1FE;
    width: 60px;
    height: 60px;
    display: flex;
    padding: 13px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 32% 68% 51% 49% / 70% 52% 48% 30%;
    position: absolute;
    white-space: normal;
    top: 25px;
    right: -25px;
  }
}


/**
  classe btn rose , use this for make button on any element
 */
.btn-rose {
  background-color: $color-rose;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 450;
  font-size: 17px;
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 2px;
  margin: 15px auto;
  cursor: pointer;
}


/**
  classe btn rose , use this for make button on any element
 */
.btn-green {
  background-color: #08D15F;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 15px auto;
}


/*
title home
*/

.title-a {
  font-size: 24px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  color: $color-title-home;
  text-align: center;
  @media screen and (min-width: 800px) {
    font-size: 42px;
  }
}

/*
component slide*/
.slider-a {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  width: 80%;
  max-width: 1177px;
  margin: 0 auto;
  overflow-x: auto;
  padding: 20px;
  scroll-snap-type: x mandatory;
  cursor: pointer;

  &::-webkit-scrollbar {
    display: none;
  }

  & article {
    flex: 0 0 auto;
    width: 80%;
    min-width: 256px;
    height: 50%;
    min-height: 361px;
    box-shadow: 0 0 15px 0 rgba(181, 181, 181, 0.30);
    //border: 1px solid #3d3d3d;
    margin: 10px auto;
    border-radius: 10px;

    scroll-snap-align: center;

    text-align: center;
    box-sizing: border-box;

    .btn-green {
      display: none;
    }

    picture {
      width: 100%;
      height: 237px;
      background-color: #F6F7FB;
      display: flex;
      border-radius: 8px 8px 0 0;
      align-content: center;
      justify-content: center;

      img {
        width: 80%;
        display: inline-block;
        max-width: 178px;
        transition: width 0.5s ease-out;

      }
    }

    & > div {
      padding: 10px 0;

      h2 {
        font-family: Lato, sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: $color-rose;
      }

      p {
        color: $color-text;
      }

      .choice-color {
        span {
          height: 5px;
          width: 20px;
          border-radius: 3px;
          display: inline-block;

          &:first-child {
            background-color: #05E6B7;
          }

          &:nth-child(2) {
            background-color: $color-rose;
          }

          &:last-child {
            background-color: #00009D;
          }

        }
      }
    }


    &.active {
      & > div {
        background-color: #2F1AC4;
      }

      position: relative;

      h2, p {
        color: white;
      }

      picture {
        img {
          width: 50%;
        }
      }

      .btn-green {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


    }


  }


  @media (min-width: 768px) {
    article {
      width: auto;
      //margin-right: 30px;

      &:last-of-type {
        //margin-right: 0;
      }
    }
  }
  @media (min-width: 1300px) {
    overflow-x: hidden;
  }
}

/*
  component slide -b
  slide b , extend from slide a
*/
.slider-b {
  @extend .slider-a;

  article {
    min-height: auto;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;

      h2 {
        font-size: 16px;
        color: $color-title-home;
      }

      .code {
        font-size: 14px;
      }

      .price {
        font-size: 12px;
        text-decoration: line-through;
        color: $color-rose;
      }
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 1000px;
    flex-wrap: wrap;

  }

}

.slider-c {
  @extend .slider-a ;
}
