@charset "UTF-8";
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body h1, body h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 42px;
}

header {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}
header .bar {
  background-color: #7E33E0;
  flex: 1 1 100%;
  display: none;
}
header .bar .content {
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  max-width: 1177px;
  display: flex;
}
header .bar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
header .bar .info {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .bar .setting {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .bar .setting select {
  background: #7E33E0;
  color: white;
  border: none;
}
header .bar .setting a {
  display: block;
}
header .menu {
  flex: 1 1 100%;
  display: flex;
  justify-content: end;
  background-color: white;
  align-items: center;
  position: relative;
}
header .menu > a {
  margin-right: auto;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 30px;
  line-height: 40px;
}
header .menu form {
  position: relative;
  height: 40px;
}
header .menu form input {
  position: absolute;
  display: none;
  border: 1px solid #E7E6EF;
  width: 94vw;
  padding: 0 25px;
  right: 45px;
  height: 40px;
}
header .menu form input:focus-visible {
  outline: rgba(251, 46, 134, 0.2) solid 0.1px;
}
header .menu form button {
  background-color: #FB2E86;
  border: none;
  height: 40px;
  width: 50px;
  background-image: url("/assets/img/uil_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
header .menu form button:active {
  background-size: 70%;
}
header .menu form button.close {
  background-image: url("/assets/img/icon-close.svg");
  background-size: 50%;
  color: white;
}
header .menu form button.submit {
  background-image: url("/assets/img/icon-check.svg");
  background-size: 100%;
}
header .menu .btn-menu {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  background: url("../img/burger.svg") no-repeat;
}
header .menu .btn-menu.actived {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  background-image: url(../img/icon-close.svg);
  background-color: #FB2E86;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
header .menu nav {
  display: none;
}
header .menu nav a {
  text-decoration: none;
  color: black;
}
header .menu nav a.active {
  color: #FB2E86;
}
header .menu nav a:hover {
  color: #FB2E86;
}
header .menu nav.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: start;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  padding: 60px 0;
}
header .menu nav.active > a {
  font-size: 1.5rem;
  padding-left: 30px;
}
header .menu nav.active .bar-nav {
  position: absolute;
  right: 10px;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header .menu nav.active .bar-nav a {
  width: 40px;
  height: 40px;
  background-color: #FB2E86;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu nav.active .bar-nav a img {
  width: 50%;
}
header .menu nav.active .setting-nav {
  position: absolute;
  top: 10px;
  left: 28px;
  display: flex;
  gap: 20px;
}
header .menu nav.active .setting-nav select {
  background: #ffffff;
  color: black;
  border: none;
  height: 40px;
  width: 75px;
}
@media screen and (min-width: 800px) {
  header {
    display: flex;
  }
  header .bar {
    display: block;
  }
  header .menu {
    padding: 15px 0;
    max-width: 1177px;
    margin: 0 auto;
    justify-content: space-between;
  }
  header .menu .btn-menu {
    display: none;
  }
  header .menu nav {
    display: flex;
    margin: 0 auto;
    gap: 20px;
  }
  header .menu nav .setting-nav, header .menu nav .bar-nav {
    display: none;
  }
  header .menu form {
    display: flex;
  }
  header .menu form input {
    position: relative;
    display: block;
    width: 300px;
    right: 0;
  }
}

.article-c-stl-1 {
  padding: 30px;
  position: relative;
  text-align: center;
  width: max-content;
  margin: 0 auto;
}
.article-c-stl-1 picture {
  display: block;
  height: max-content;
  width: max-content;
  margin: 0 auto;
  position: relative;
}
.article-c-stl-1 picture:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FB2E86;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.05;
}
.article-c-stl-1 picture:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FB2E86;
  display: block;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.04;
}
.article-c-stl-1 picture img {
  width: 228px;
  z-index: 2;
  position: relative;
}
.article-c-stl-1 .price {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #00C1FE;
  width: 60px;
  height: 60px;
  display: flex;
  padding: 13px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 32% 68% 51% 49%/70% 52% 48% 30%;
  position: absolute;
  white-space: normal;
  top: 25px;
  right: -25px;
}

/**
  classe btn rose , use this for make button on any element
 */
.btn-rose {
  background-color: #FB2E86;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 450;
  font-size: 17px;
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 2px;
  margin: 15px auto;
  cursor: pointer;
}

/**
  classe btn rose , use this for make button on any element
 */
.btn-green {
  background-color: #08D15F;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 15px auto;
}

/*
title home
*/
.title-a {
  font-size: 24px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  color: #1A0B5B;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .title-a {
    font-size: 42px;
  }
}

/*
component slide*/
.slider-a, .slider-d, .slider-c, .slider-b {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  width: 80%;
  max-width: 1177px;
  margin: 0 auto;
  overflow-x: auto;
  padding: 20px;
  scroll-snap-type: x mandatory;
  cursor: pointer;
}
.slider-a::-webkit-scrollbar, .slider-d::-webkit-scrollbar, .slider-c::-webkit-scrollbar, .slider-b::-webkit-scrollbar {
  display: none;
}
.slider-a article, .slider-d article, .slider-c article, .slider-b article {
  flex: 0 0 auto;
  width: 80%;
  min-width: 256px;
  height: 50%;
  min-height: 361px;
  box-shadow: 0 0 15px 0 rgba(181, 181, 181, 0.3);
  margin: 10px auto;
  border-radius: 10px;
  scroll-snap-align: center;
  text-align: center;
  box-sizing: border-box;
}
.slider-a article .btn-green, .slider-d article .btn-green, .slider-c article .btn-green, .slider-b article .btn-green {
  display: none;
}
.slider-a article picture, .slider-d article picture, .slider-c article picture, .slider-b article picture {
  width: 100%;
  height: 237px;
  background-color: #F6F7FB;
  display: flex;
  border-radius: 8px 8px 0 0;
  align-content: center;
  justify-content: center;
}
.slider-a article picture img, .slider-d article picture img, .slider-c article picture img, .slider-b article picture img {
  width: 80%;
  display: inline-block;
  max-width: 178px;
  transition: width 0.5s ease-out;
}
.slider-a article > div, .slider-d article > div, .slider-c article > div, .slider-b article > div {
  padding: 10px 0;
}
.slider-a article > div h2, .slider-d article > div h2, .slider-c article > div h2, .slider-b article > div h2 {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #FB2E86;
}
.slider-a article > div p, .slider-d article > div p, .slider-c article > div p, .slider-b article > div p {
  color: #151875;
}
.slider-a article > div .choice-color span, .slider-d article > div .choice-color span, .slider-c article > div .choice-color span, .slider-b article > div .choice-color span {
  height: 5px;
  width: 20px;
  border-radius: 3px;
  display: inline-block;
}
.slider-a article > div .choice-color span:first-child, .slider-d article > div .choice-color span:first-child, .slider-c article > div .choice-color span:first-child, .slider-b article > div .choice-color span:first-child {
  background-color: #05E6B7;
}
.slider-a article > div .choice-color span:nth-child(2), .slider-d article > div .choice-color span:nth-child(2), .slider-c article > div .choice-color span:nth-child(2), .slider-b article > div .choice-color span:nth-child(2) {
  background-color: #FB2E86;
}
.slider-a article > div .choice-color span:last-child, .slider-d article > div .choice-color span:last-child, .slider-c article > div .choice-color span:last-child, .slider-b article > div .choice-color span:last-child {
  background-color: #00009D;
}
.slider-a article.active, .slider-d article.active, .slider-c article.active, .slider-b article.active {
  position: relative;
}
.slider-a article.active > div, .slider-d article.active > div, .slider-c article.active > div, .slider-b article.active > div {
  background-color: #2F1AC4;
}
.slider-a article.active h2, .slider-d article.active h2, .slider-c article.active h2, .slider-b article.active h2, .slider-a article.active p, .slider-d article.active p, .slider-c article.active p, .slider-b article.active p {
  color: white;
}
.slider-a article.active picture img, .slider-d article.active picture img, .slider-c article.active picture img, .slider-b article.active picture img {
  width: 50%;
}
.slider-a article.active .btn-green, .slider-d article.active .btn-green, .slider-c article.active .btn-green, .slider-b article.active .btn-green {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .slider-a article, .slider-d article, .slider-c article, .slider-b article {
    width: auto;
  }
}
@media (min-width: 1300px) {
  .slider-a, .slider-d, .slider-c, .slider-b {
    overflow-x: hidden;
  }
}

/*
  component slide -b
  slide b , extend from slide a
*/
.slider-b article {
  min-height: auto;
}
.slider-b article > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.slider-b article > div h2 {
  font-size: 16px;
  color: #1A0B5B;
}
.slider-b article > div .code {
  font-size: 14px;
}
.slider-b article > div .price {
  font-size: 12px;
  text-decoration: line-through;
  color: #FB2E86;
}
@media screen and (min-width: 768px) {
  .slider-b {
    max-width: 1000px;
    flex-wrap: wrap;
  }
}

ul.list-style-a, main section#discount ul, main section#leatest_roducts ul {
  display: flex;
  padding: 0;
  margin: 0 auto;
  gap: 25px;
  justify-content: center;
  list-style-type: none;
}
ul.list-style-a li a, main section#discount ul li a, main section#leatest_roducts ul li a {
  font-family: Lato, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #1A0B5B;
}
ul.list-style-a li a:hover, main section#discount ul li a:hover, main section#leatest_roducts ul li a:hover, ul.list-style-a li a.active, main section#discount ul li a.active, main section#leatest_roducts ul li a.active {
  color: #FB2E86;
}
@media screen and (min-width: 771px) {
  ul.list-style-a li a, main section#discount ul li a, main section#leatest_roducts ul li a {
    font-size: 18px;
  }
}

main section#home {
  background-color: #F2F0FF;
  height: max-content;
  background-image: url("../img/img-lampe-big.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 173px;
  padding: 190px 10px 0 10px;
  text-align: center;
}
main section#home h1 {
  color: #FB2E86;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  text-align: left;
}
main section#home h2 {
  font-size: 27px;
  text-align: left;
}
main section#home p {
  font-family: Lato, sans-serif;
  font-size: 12px;
  color: #979BC2;
  line-height: 28px;
  text-align: left;
}
main section#home .placeholder .btn-rose {
  display: none;
}
main section#home .product-promo .btn-rose {
  margin: 50px auto;
}
@media screen and (min-width: 800px) {
  main section#home {
    display: flex;
    padding: 0 0 0 200px;
    align-items: center;
    align-content: center;
    height: max-content;
    background-size: 200px;
  }
  main section#home .placeholder {
    padding-top: 100px;
    position: relative;
    text-align: left;
    flex-basis: 40%;
  }
  main section#home .placeholder h2 {
    font-size: 53px;
    font-weight: bold;
  }
  main section#home .placeholder p {
    font-weight: bold;
    font-size: 16px;
  }
  main section#home .placeholder .btn-rose {
    display: inline-block;
    margin: 25px auto;
  }
  main section#home .product-promo {
    flex-basis: 60%;
  }
  main section#home .product-promo .btn-rose {
    display: none;
  }
  main section#home .product-promo .article-c-stl-1 picture img {
    width: 300px;
  }
}
@media screen and (min-width: 1300px) {
  main section#home {
    background-size: 387px;
    padding: 0 0 0 350px;
  }
  main section#home .placeholder {
    padding-top: 170px;
  }
  main section#home .product-promo .article-c-stl-1 picture img {
    width: 706px;
  }
  main section#home .product-promo .article-c-stl-1 .price {
    font-size: 35px;
    font-weight: bold;
    width: 125px;
    height: 130px;
    padding: 0;
  }
}
main section#featured_products {
  padding-top: 20px;
}
main section#shopex {
  max-width: 1177px;
  margin: 0 auto;
}
main section#shopex ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  flex-direction: column;
  align-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
main section#shopex ul li {
  flex: 0 0 auto;
  max-width: 50%;
}
main section#shopex ul li img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
main section#shopex ul li h3 {
  font-weight: 500;
  font-size: 18px;
  color: #1A0B5B;
}
main section#shopex ul li p {
  font-size: 16px;
  font-weight: bold;
  color: rgba(26, 11, 91, 0.3);
}
@media screen and (min-width: 768px) {
  main section#shopex ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  main section#shopex ul li {
    max-width: 270px;
  }
}
main section#promo, main section#discount {
  background-color: #F1F0FF;
}
main section#promo figure, main section#discount figure {
  max-width: 1177px;
  margin: 0 auto;
}
main section#promo figure picture, main section#discount figure picture {
  display: block;
  width: 60%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
main section#promo figure picture:before, main section#discount figure picture:before {
  content: "";
  height: 70%;
  width: 90%;
  background-color: #F5E1FC;
  display: block;
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 32% 68% 51% 49%/70% 52% 48% 30%;
}
main section#promo figure picture img, main section#discount figure picture img {
  position: relative;
  z-index: 2;
  width: 100%;
}
main section#promo figure figcaption, main section#discount figure figcaption {
  padding: 20px;
}
main section#promo figure figcaption ul, main section#discount figure figcaption ul {
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: #ACABC3;
  font-family: Lato, sans-serif;
  font-size: 16px;
  list-style: none;
}
main section#promo figure figcaption ul li::before, main section#discount figure figcaption ul li::before {
  content: "• ";
  font-size: 25px;
  color: #FB2E86;
}
main section#promo figure figcaption ul li:nth-of-type(2)::before, main section#discount figure figcaption ul li:nth-of-type(2)::before {
  color: #2B2BF5;
}
main section#promo figure figcaption ul li:nth-of-type(3)::before, main section#discount figure figcaption ul li:nth-of-type(3)::before {
  color: #2BF5CC;
}
main section#promo figure figcaption > div, main section#discount figure figcaption > div {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
  gap: 30px;
}
main section#promo figure figcaption > div .btn-rose, main section#discount figure figcaption > div .btn-rose {
  margin: 0;
}
main section#promo figure figcaption > div p, main section#discount figure figcaption > div p {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #1A0B5B;
}
main section#promo figure figcaption > div p span, main section#discount figure figcaption > div p span {
  display: block;
}
@media screen and (min-width: 800px) {
  main section#promo figure, main section#discount figure {
    display: flex;
  }
  main section#promo figure figcaption, main section#discount figure figcaption {
    padding-top: 100px;
  }
}
main section#trending_products .slider-c {
  display: flex;
  border-radius: 0;
  max-height: 330px;
}
main section#trending_products .slider-c article:not(.list) {
  text-align: left;
  padding: 20px;
  min-height: auto;
  min-width: 320px;
  margin: 0;
}
main section#trending_products .slider-c article:not(.list):hover, main section#trending_products .slider-c article:not(.list):active {
  background-color: #F5F6F8;
}
main section#trending_products .slider-c article:not(.list):hover picture, main section#trending_products .slider-c article:not(.list):active picture {
  background-color: #F5F6F8;
}
main section#trending_products .slider-c article:not(.list) > div {
  padding: 0;
}
main section#trending_products .slider-c article:not(.list) > div h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #1A0B5B;
  font-size: 20px;
}
main section#trending_products .slider-c article:not(.list) > div a {
  color: #FB2E86;
}
main section#trending_products .slider-c article:not(.list) picture {
  margin-top: -5px;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: right;
  background-color: white;
}
main section#trending_products .slider-c article:not(.list) picture img {
  width: 200px;
  height: max-content;
}
main section#trending_products .slider-c article.list {
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}
main section#trending_products .slider-c article.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main section#trending_products .slider-c article.list ul li {
  display: flex;
  align-items: center;
  text-align: left;
}
main section#trending_products .slider-c article.list ul li:hover, main section#trending_products .slider-c article.list ul li:active {
  background-color: #F5F6F8;
}
main section#trending_products .slider-c article.list ul li img {
  flex: 0 0 auto;
  width: 36%;
  background-color: #F5F6F8;
  margin: 0 auto;
}
main section#trending_products .slider-c article.list ul li p {
  width: 60%;
  margin: 0;
  padding: 16px;
  font-weight: 500;
  color: #1A0B5B;
  font-family: "Josefin Sans", sans-serif;
}
main section#trending_products .slider-c article.list ul li p span {
  display: block;
}
main section#discount {
  background-color: #fff;
}
main section#discount figure {
  align-items: center;
}
main section#discount figure picture::before {
  display: flex;
  border-radius: 50%;
  width: 66%;
  left: 50%;
  background-color: #FCECF1;
}
main section#discount figure figcaption {
  text-align: left;
}
main section#discount figure figcaption h3 {
  color: #FB2E86;
}
main section#discount figure figcaption p {
  font-family: Lato, sans-serif;
  color: #B7BACB;
  font-size: 14px;
  font-weight: 400;
}
main section#discount figure figcaption ul {
  flex-wrap: wrap;
}
main section#discount figure figcaption ul li {
  box-sizing: border-box;
  flex: 1 0 40%;
}
main section#discount figure figcaption ul li:before {
  content: "✓";
  color: #7569B2 !important;
}
@media screen and (min-width: 800px) {
  main section#discount figure {
    flex-direction: row-reverse;
  }
  main section#discount figure picture {
    padding-top: 40px;
  }
}
main section#topCat .slider-d article {
  box-shadow: none;
}
main section#topCat .slider-d article h2 {
  color: #1A0B5B;
}
main section#topCat .slider-d article picture {
  border-radius: 50%;
  margin: 10px 0;
}
main section#topCat .slider-d article picture:hover {
  box-shadow: -4px 5px 5px #9877E7;
}
main section#topCat .slider-d article.active > div {
  background-color: #fff;
}
main section#topCat .slider-d article.active p {
  color: #1A0B5B;
}
main section#topCat .slider-d article.active picture {
  box-shadow: -4px 5px 5px #9877E7;
}
main section#topCat .slider-d article.active picture img {
  width: 50%;
}
main section#topCat .slider-d article.active .btn-green {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section#newslater {
  text-align: center;
  background-image: url("../img/bg-newslater.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=home.css.map */
